#!/bin/sh

# List of applications to start
autostart="dunst sw picom pipewire pipewire-pulse wireplumber dwmblocks"

for program in $autostart; do
        pidof -s "$program" || "$program" &
done >/dev/null 2>&1
