#!/bin/sh

# This is used to adjust for the dots per inch.
xrandr --dpi 96
setwp &

autostart="mpd dunst unclutter picom dwmblocks pipewire transmission-daemon"

for program in $autostart; do
        pidof -s "$program" || "$program" &
done >/dev/null 2>&1

# Decrease key repeat delay to 300ms and increase key repeat rate to 50ms per second.
xset r rate 300 50
# Capslock key can now be used as a super key as well.
setxkbmap -option caps:super,altwin:menu_win

# Merge xresources
xrdb -merge ${XDG_CONFIG_HOME:-$HOME/.config}/x11/xresources
