!! Transparency (0-1):
st.alpha: 0.9

!! Set a default font and font size as below:
st.font: monospace-9
st.termname: st-256color
st.borderpx: 2

!! Set colors for dmenu specifically:
dmenu.font: monospace-10
dmenu.background: #1b1f25
dmenu.foreground: #005577
dmenu.selbackground: #005577
dmenu.selforeground: #ebdbb2

!! Set the background, foreground and cursor colors as below:

gotham:
*.color0: #1b1f25
*.color1: #c33027
*.color2: #26a98b
*.color3: #edb54b
*.color4: #195465
*.color5: #4e5165
*.color6: #33859d
*.color7: #98d1ce
*.color8: #10151b
*.color9: #d26939
*.color10: #081f2d
*.color11: #245361
*.color12: #093748
*.color13: #888ba5
*.color14: #599caa
*.color15: #d3ebe9
*.background: #1b1f25
*.foreground: #ebdbb2
*.cursorColor: #195465

!! gruvbox:
!! *.color0: #1d2021
!! *.color1: #cc241d
!! *.color2: #98971a
!! *.color3: #d79921
!! *.color4: #458588
!! *.color5: #b16286
!! *.color6: #689d6a
!! *.color7: #a89984
!! *.color8: #928374
!! *.color9: #fb4934
!! *.color10: #b8bb26
!! *.color11: #fabd2f
!! *.color12: #83a598
!! *.color13: #d3869b
!! *.color14: #8ec07c
!! *.color15: #ebdbb2
!! *.background: #282828
!! *.foreground: #ebdbb2
!! *.cursorColor: #458588

!! gruvbox light:
!! *.color0: #fbf1c7
!! *.color1: #cc241d
!! *.color2: #98971a
!! *.color3: #d79921
!! *.color4: #458588
!! *.color5: #b16286
!! *.color6: #689d6a
!! *.color7: #7c6f64
!! *.color8: #928374
!! *.color9: #9d0006
!! *.color10: #79740e
!! *.color11: #b57614
!! *.color12: #076678
!! *.color13: #8f3f71
!! *.color14: #427b58
!! *.color15: #3c3836
!! *.background: #fbf1c7
!! *.foreground: #282828
!! *.cursorColor: #282828

!! chameleon
!! *.color0: #2c2c2c
!! *.color1: #cc231c
!! *.color2: #689d69
!! *.color3: #d79922
!! *.color4: #366b71
!! *.color5: #4e5165
!! *.color6: #458587
!! *.color7: #c8bb97
!! *.color8: #777777
!! *.color9: #cc231c
!! *.color10: #689d69
!! *.color11: #d79922
!! *.color12: #366b71
!! *.color13: #4e5165
!! *.color14: #458587
!! *.color15: #c8bb97
!! *.background: #2c2c2c
!! *.foreground: #c8bb97
!! *.cursorColor: #366b7a

!! flat
!! *.color0: #2c3e50
!! *.color1: #c0392b
!! *.color2: #27ae60
!! *.color3: #f39c12
!! *.color4: #2980b9
!! *.color5: #8e44ad
!! *.color6: #16a085
!! *.color7: #bdc3c7
!! *.color8: #34495e
!! *.color9: #e74c3c
!! *.color10: #2ecc71
!! *.color11: #f1c40f
!! *.color12: #3498db
!! *.color13: #9b59b6
!! *.color14: #2aa198
!! *.color15: #ecf0f1
!! *.background: #2c3e50
!! *.foreground: #bdc3c7
!! *.cursorColor: #2980b9

!! bash
!! *.color0: #393b44
!! *.color1: #c94f6d
!! *.color2: #81b29a
!! *.color3: #dbc074
!! *.color4: #719cd6
!! *.color5: #9d79d6
!! *.color6: #63cdcf
!! *.color7: #dfdfe0
!! *.color8: #575860
!! *.color9: #d16983
!! *.color10: #8ebaa4
!! *.color11: #e0c989
!! *.color12: #86abdc
!! *.color13: #baa1e2
!! *.color14: #7ad4d6
!! *.color15: #e4e4e5
!! *.background: #282828
!! *.foreground: #dfdfe0
!! *.cursorColor: #719cd6
