*.font: monospace:size=10
st.alpha: .85

*.background: #121618
*.foreground: #b7b7b7
*.cursorColor: #b7b7b7

/* Colors:
 *
 * 0 -  black
 * 1 -  red
 * 2 -  green
 * 3 -  yellow
 * 4 -  blue
 * 5 -  magenta
 * 6 -  cyan
 * 7 -  white
 *
 * Additional numbers repeat the above
 */

Minimalist:
*.color0: #282828
*.color1: #852525
*.color2: #008060
*.color3: #da6000
*.color4: #282880
*.color5: #602080
*.color6: #008dba
*.color7: #ebdbb2
*.color8: #1d2021
*.color9: #852525
*.color10: #008060
*.color11: #da6000
*.color12: #282880
*.color13: #602080
*.color14: #008dba
*.color15: #ebdbb2
