html {
	background-color: #1d2028;
}

header h1 {
	text-align: center;
	padding-bottom: 1em;
	font-size: 35pt;
}

h1,h2,h3,h4 {
	color: #a9a1e1;
}

body {
	max-width: 650;
	margin-top: 10em;
	margin-left: auto;
	margin-right: auto;
	font-size: 12pt;
}

img {
	max-width: 250px;
	display: block;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	padding-bottom: .5em;
	border-bottom: 1px solid #d7d7d7;
}

p {
	text-align: justify;
	color: #d7d7d7;
}

code {
	font-size: 10pt;
	color: #a9a1e1;
}

strong {
	color: #a9a1e1;
}

